body{
  font-family: monospace;
  color: #555;
  text-align: center;
}
h1, h2, p{
  padding: 0.4em 0;
}
.success{
  color: turquoise;
}
.error{
  color: red;
}

.grid{
  display: grid;
  grid-template:
    "header" 100px
    "main" 1fr
    "side" 100px
    "footer" 100px
    / 100%;
  height: 80vh;
  color: white;
  @media screen and (min-width: 600px){
    grid-template:
      "header header header" 100px
      "main   main   side" 1fr
      "footer footer footer" 100px
      / 1fr 1fr 1fr;
    // height: 70vh;
  }

  .header{
    grid-area: header;
    background: rgb(255, 206, 98);
  }
  .main{
    grid-area: main;
    background: rgb(232, 101, 200);
  }
  .side{
    grid-area: side;
    background: grey;
  }
  .footer{
    grid-area: footer;
    background: turquoise;
  }
}

ul{
  list-style: none;
  li{
    display: inline-block;
  }
}

a{
  text-decoration: none;
}

.fade-in{
  animation: fade-in 0.7s ease both;
  @keyframes fade-in{
    0%{
      opacity: 0;
      filter: blur(5px);
    }
    100%{
      opacity: 1;
      filter: blur(0px);
    }
  }
}
