.Btn{
  display: inline-block;
  margin: 0.2em;
  padding: 0.5em 1em;
  color: white;
  background: rgb(88, 209, 213);
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

  *{
    text-decoration: none;
  }
}
